:root {
  --FQ-primary: #11110f;
  --FQ-grey-22: #3a3a34;
  --FQ-grey-65: #a8a9a1;
  --FQ-grey-85: #dcdcd7;
  --FQ-grey-91: #eaeae8;
  --FQ-grey-95: #f4f4f3;
  --FQ-accent-1: #f36704;

  --FQ-text-muted: #55554e;
  --FQ-on-dark: #f7f7f5;
  --FQ-white: #ffffff;
  --FQ-error: #c03a2b;
  --FQ-error-surface: #fdf6f5;
}
